*{margin: 0; padding: 0;}
*{box-sizing: border-box;}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
  }

.container{
    position: relative;   
}
.window{
    width: 500px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden; 
    position: relative;
}

.images{
    display: flex;
    transition: all 1s;
}

.images > img{
    width: 100%;
}
.buttonWapper{
    position: absolute;
    top: 90% ;
    left: 47%;
}

.buttonWapper > button{
    width: 15px;
    height: 6px;
    border-radius: 2px;
    outline: none;
    background-color: #D9D6B5;
}
.controls{
    position: absolute;
    top: 50% ;
    width: 500px;
}
.controls .next{
    float: right;
    width: 15px;
    height: 25px;
    background: grey;
    outline: none;
    border-radius: 2px;
    border: none;
}
.controls .pre{
    width: 15px;
    height: 25px;
    background: grey;
    outline: none;
    border-radius: 2px;
    border: none;
}